@import './theme.css';

.InlineButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    word-break: keep-all;
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    font-weight: 400;
}

.InlineButton_label {
    font-family: inherit;
    font-weight: inherit;
}
