@import './theme.css';

.InlinePathChooser {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
}

.InlinePathChooser_container {
    display: flex;
    font-family: inherit;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.InlinePathChooser_label_container {
    display: flex;
    font-family: inherit;
    flex-direction: column;
    gap: 2px
}

.InlinePathChooser_label {
    font-size: 1rem;
    color: var(--color-text);
    font-family: inherit;
    user-select: none;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.InlinePathChooser_description {
    font-size: 0.8rem;
    font-family: inherit;
    color: var(--color-muted-2);
    user-select: none;
    font-weight: 400;
    letter-spacing: 0.01em;
}
