.InlineButton {
    word-break: keep-all;
    background: none;
    border: none;
    border-radius: 8px;
    color: #000;
    background-color: #E4CF0E;
    font: inherit;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px;
    width: fit-content;
}

.InlineButton:hover:not(:disabled) {
    background-color: #f5e441;
}

.InlineButton:active:not(:disabled) {
    background-color: #c9bb35;
}

.InlineButton:disabled {
    color: #000;
    background-color: #938509;
    cursor: default;
    text-decoration: none;
}