@import './theme.css';

.SettingsPage {
    min-height: 75px;
    flex-grow: 1;
    padding-block: 20px;
    padding-inline: 20px;
    background-color: var(--color-surface);
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: normal;
    align-self: flex-start;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
}

.SettingsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.SettingsListItem {

}

.SettingsFooter {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    color: var(--color-muted-4);
    flex-direction: column;
}

.SettingsFooterItem {
    font-family: inherit;
}
