.SettingsPage {
    min-height: 75px;
    flex-grow: 1;
    padding-block: 20px;
    padding-inline: 20px;
    background-color: #1E1E1E;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: normal;
    align-self: flex-start;
    border-radius: 10px;
    width: 100%;


}

.SettingsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.SettingsListItem {

}
