.StatusWidget_root {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.StatusWidget_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 20px - 65px);
    gap: 8px;
}

.StatusWidget_label {
    font-size: 1rem;
    font-family: inherit;
    color: var(--color-text);
    user-select: none;
    font-weight: 400;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
