@import './theme.css';

.TabSelector {
    display: flex;
    gap: 1px;
    padding: 1px;
    border-radius: 11px;
    background-color: var(--tab-bg);
}
.TabSelectorItem_first {
    border-radius: 10px 0 0 10px;
}

.TabSelectorItem_last {
    border-radius: 0 10px 10px 0;
}

.TabSelectorItem {
    background: var(--color-bg);
    border: none;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    transition: background 0.2s, color;
}

.TabSelectorItem:disabled {
    color: var(--color-muted-4);
    cursor: default;
    background: var(--color-bg-variant);
}

.TabSelectorItem:not(:disabled):hover {
    background: var(--color-bg-hover);
}

.TabSelectorItem_active,
.TabSelectorItem.TabSelectorItem_active:not(:disabled):hover {
    background: var(--color-active);
}

.TabSelectorItem_icon {
    display: inline-flex;
    vertical-align: middle;
    fill: currentColor;
}

.TabSelectorItem_label {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
